name: Release

on:
  push:
    tags: ["v[0-9]+.[0-9]+.[0-9]+"]
    branches: [master]

jobs:
  bof-build:
    name: Build and publish tagged release
    if: startsWith( github.ref, 'refs/tags/v')
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - name: OS Packages
        run: |
          sudo apt-get update --fix-missing && sudo apt-get -y install \
          git build-essential zlib1g zlib1g-dev wget zip unzip \
          mingw-w64 binutils-mingw-w64 g++-mingw-w64 gcc-multilib jq

      - name: Minisign
        run: |
          MINISIGN_TMP=`mktemp -d`
          cd $MINISIGN_TMP
          wget https://github.com/aead/minisign/releases/download/v0.2.0/minisign-linux-amd64.tar.gz
          tar xvf minisign-linux-amd64.tar.gz
          mv ./minisign ~/minisign
          touch ~/minisign.key && chmod 600 ~/minisign.key
          echo -e "${{ secrets.MINISIGN_PRIVATE_KEY }}" > ~/minisign.key

      - name: Check out code
        uses: actions/checkout@v2

      - name: Git Fetch Tags
        run: git fetch --prune --unshallow --tags -f

      - name: Packages Setup
        run: |
          mkdir packages

      - name: ADCS Enum
        run: |
          cd ./src/SA/adcs_enum
          make
          VERSION=$(git describe --tags --abbrev=0)
          cat extension.json | jq ".version |= \"$VERSION\"" > ../../../SA/adcs_enum/extension.json
          cd ../../../SA/adcs_enum/
          cp ../../LICENSE .
          tar -czvf ../../packages/sa-adcs-enum.tar.gz .
          MANIFEST=$(cat ./extension.json | base64 -w 0)
          cd ../../packages
          bash -c "echo \"\" | ~/minisign -s ~/minisign.key -S -m ./sa-adcs-enum.tar.gz -t \"$MANIFEST\" -x sa-adcs-enum.minisig"
          cd ..

      - name: "Publish Release"
        uses: "marvinpinto/action-automatic-releases@latest"
        with:
          repo_token: "${{ secrets.GITHUB_TOKEN }}"
          prerelease: false
          files: |
            ./packages/*.tar.gz
            ./packages/*.minisig
